{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CodePen - Responsive Table + Detail View</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{% static 'table.css' %}">

</head>

<body>

  <!-- partial:index.partial.html -->
  <h1>
  </h1>
  <main>
    <table>
      <thead>
        <tr>
          <th>
            Email
          </th>
          <th>
            Price
          </th>
          <th>
            Crop name
          </th>
          <th>
            Seed type
          </th>
          <th>
            Quality
          </th>
          <th>
            Quantity
          </th>
          <th>
            Date
          </th>
          <th>
            Time
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for slot in slots %}
        <tr>
          <td data-title='Provider Name'>
            {{ slot.email }}
          </td>
          <td data-title='E-mail'>
            {{ slot.crop_name }}
          </td>
          <td data-title='Provider Name'>
            {{ slot.seed_type }}
          </td>
          <td data-title='E-mail'>
            {{ slot.quality }}
          </td>
          <td data-title='Provider Name'>
            {{ slot.quantity}}
          </td>
          <td data-title='E-mail'>
            {{ slot.price }}
          </td>
          <td data-title='Provider Name'>
            {{ slot.date }}
          </td>
          <td data-title='E-mail'>
            {{ slot.time }}
          </td>
          <form action="" method="POST">
            {% csrf_token %}
          <td class='select'>
            <input type="submit" name="submit" class='button' value= "{{slot.pk}}">
          </td>
          </form>
        </tr>
        {% endfor %}



        <div class='detail-nav'>
          <button class='close'><a style="text-decoration: none;" href="{% url 'users:index' %}" > Close </a>
          </button>
        </div>
        </div>
  </main>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="./script.js"></script>

</body>

</html>