body::before{
    content: "";
    background:url(./img/farm.jpg)  center center/cover;
    position:relative;
    height: 719px;
    width: 100%;
    z-index: -1;
    opacity: 0.74;
    top: 0px;
    left: 0px;
}

#sign-in{
    height: 685px;
    width:700px;
    margin:27px 100px 0px 500px;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color:rgb(240, 241, 224);
    border:5px solid rgb(216, 218, 201);
    border-radius: 15px;
    padding: 10px 50px 0px 50px;
    /* background:url(./img/bg-6.jpg)  center center/cover; */

    
}
/* body{
    background-color: aqua;
} */
#sign-in h3{
    text-align:left;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    padding-left: 0px;


}
#sign-in button{
   color:white;
   background-color: rgb(203, 126, 25); 
   width: 300px;
   padding: 10px;
   margin:10px;
}
#sign-in button:hover{
    cursor: pointer;
    background-color:rgb(115, 89, 54);
}
#sign-in label{
    padding-top: 2px;
}
